<!DOCTYPE html>
<html lang="es">
    <!-- heade -->
    <%- include('template/head.ejs') %>
<body>
    <%- include('template/nav.ejs') %>

    <!-- section Frase Inicial -->
    <%- include('section/frase-inicial.ejs') %>

    <!-- section Frase Inicial -->
    <%- include('section/recommended.ejs') %>

    <!-- section features and recommendations -->
    <%- include('section/caracteristicas_beneficios.ejs') %>
    
    <!-- section jornada oftalmologica -->
    <%- include('section/jornada-oftalmologica.ejs') %>

    <!-- section features and recommendations -->
    <%- include('section/type-vision.ejs') %>



    <!-- section brand slider -->
    <%- include('section/brand-slider.ejs') %>

    <!-- section contact with map-->
    <%- include('section/contact-with-map.ejs')%>

   
</body>
</html>